.video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  aspect-ratio: 16/ 9;
  z-index: -1;
  opacity: 1;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, black -100%, transparent 100%);
}

@media (max-width: 750px) {
  .video {
    position: relative;
    width: 0;
    height: 0;
    pointer-events: none;
    display: none !important;
  }
}
